In [1]:
import requests
import pandas as pd

In [3]:
url = "https://restcountries.com/v3.1/all"
response = requests.get(url)
data = response.json()
data[0]

{'name': {'common': 'South Georgia',
  'official': 'South Georgia and the South Sandwich Islands',
  'nativeName': {'eng': {'official': 'South Georgia and the South Sandwich Islands',
    'common': 'South Georgia'}}},
 'tld': ['.gs'],
 'cca2': 'GS',
 'ccn3': '239',
 'cca3': 'SGS',
 'independent': False,
 'status': 'officially-assigned',
 'unMember': False,
 'currencies': {'SHP': {'name': 'Saint Helena pound', 'symbol': '¬£'}},
 'idd': {'root': '+5', 'suffixes': ['00']},
 'capital': ['King Edward Point'],
 'altSpellings': ['GS', 'South Georgia and the South Sandwich Islands'],
 'region': 'Antarctic',
 'languages': {'eng': 'English'},
 'translations': {'ara': {'official': 'ÿ¨Ÿàÿ±ÿ¨Ÿäÿß ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ© Ÿàÿ¨ÿ≤ÿ± ÿ≥ÿßŸÜÿØŸàÿ™ÿ¥ ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ©',
   'common': 'ÿ¨Ÿàÿ±ÿ¨Ÿäÿß ÿßŸÑÿ¨ŸÜŸàÿ®Ÿäÿ©'},
  'bre': {'official': 'Georgia ar Su hag Inizi Sandwich ar Su',
   'common': 'Georgia ar Su hag Inizi Sandwich ar Su'},
  'ces': {'official': 'Ji≈æn√≠ Georgie a Ji≈æn√≠ Sandwichovy ostrovy',
   'common': 'Ji≈æn√≠ Georgie a Ji≈æn√≠ Sandwichovy ostrovy'},
  'cym': {'official': 'South Georgia and the South Sandwich Islands',
   'common': 'South Georgia'},
  'deu': {'official': 'S√ºdgeorgien und die S√ºdlichen Sandwichinseln',
   'common': 'S√ºdgeorgien und die S√ºdlichen Sandwichinseln'},
  'est': {'official': 'L√µuna-Georgia ja L√µuna-Sandwichi saared',
   'common': 'L√µuna-Georgia ja L√µuna-Sandwichi saared'},
  'fin': {'official': 'Etel√§-Georgia ja Etel√§iset Sandwichsaaret',
   'common': 'Etel√§-Georgia ja Etel√§iset Sandwichsaaret'},
  'fra': {'official': 'G√©orgie du Sud et les √Æles Sandwich du Sud',
   'common': 'G√©orgie du Sud-et-les √éles Sandwich du Sud'},
  'hrv': {'official': 'Ju≈æna D≈æord≈æija i Otoci Ju≈æni Sendviƒç',
   'common': 'Ju≈æna Georgija i otoƒçje Ju≈æni Sandwich'},
  'hun': {'official': 'D√©li-Georgia √©s D√©li-Sandwich-szigetek',
   'common': 'D√©li-Georgia √©s D√©li-Sandwich-szigetek'},
  'ita': {'official': 'Georgia del Sud e isole Sandwich del Sud',
   'common': 'Georgia del Sud e Isole Sandwich Meridionali'},
  'jpn': {'official': '„Çµ„Ç¶„Çπ„Ç∏„Éß„Éº„Ç∏„Ç¢¬∑„Çµ„Ç¶„Çπ„Çµ„É≥„Éâ„Ç¶„Ç£„ÉÉ„ÉÅË´∏Â≥∂',
   'common': '„Çµ„Ç¶„Çπ„Ç∏„Éß„Éº„Ç∏„Ç¢„Éª„Çµ„Ç¶„Çπ„Çµ„É≥„Éâ„Ç¶„Ç£„ÉÉ„ÉÅË´∏Â≥∂'},
  'kor': {'official': 'Ï°∞ÏßÄÏïÑ', 'common': 'Ï°∞ÏßÄÏïÑ'},
  'nld': {'official': 'Zuid-Georgi√´ en de Zuidelijke Sandwich-eilanden',
   'common': 'Zuid-Georgia en Zuidelijke Sandwicheilanden'},
  'per': {'official': 'ÿ¨ÿ≤ÿß€åÿ± ÿ¨Ÿàÿ±ÿ¨€åÿß€å ÿ¨ŸÜŸàÿ®€å Ÿà ÿ≥ÿßŸÜÿØŸà€å⁄Ü ÿ¨ŸÜŸàÿ®€å',
   'common': 'ÿ¨ÿ≤ÿß€åÿ± ÿ¨Ÿàÿ±ÿ¨€åÿß€å ÿ¨ŸÜŸàÿ®€å Ÿà ÿ≥ÿßŸÜÿØŸà€å⁄Ü ÿ¨ŸÜŸàÿ®€å'},
  'pol': {'official': 'Georgia Po≈Çudniowa i Sandwich Po≈Çudniowy',
   'common': 'Georgia Po≈Çudniowa i Sandwich Po≈Çudniowy'},
  'por': {'official': 'Ge√≥rgia do Sul e Sandwich do Sul',
   'common': 'Ilhas Ge√≥rgia do Sul e Sandwich do Sul'},
  'rus': {'official': '–Æ–∂–Ω–∞—è –ì–µ–æ—Ä–≥–∏—è –∏ –Æ–∂–Ω—ã–µ –°–∞–Ω–¥–≤–∏—á–µ–≤—ã –æ—Å—Ç—Ä–æ–≤–∞',
   'common': '–Æ–∂–Ω–∞—è –ì–µ–æ—Ä–≥–∏—è –∏ –Æ–∂–Ω—ã–µ –°–∞–Ω–¥–≤–∏—á–µ–≤—ã –æ—Å—Ç—Ä–æ–≤–∞'},
  'slk': {'official': 'Ju≈æn√° Georgia a Ju≈æn√© Sandwichove ostrovy',
   'common': 'Ju≈æn√° Georgia a Ju≈æn√© Sandwichove ostrovy'},
  'spa': {'official': 'Georgia del Sur y las Islas Sandwich del Sur',
   'common': 'Islas Georgias del Sur y Sandwich del Sur'},
  'srp': {'official': '–à—É–∂–Ω–∞ –è–æ—Ä—ü–∏—ò–∞ –∏ –à—É–∂–Ω–∞ –°–µ–Ω–¥–≤–∏—á–∫–∞ –û—Å—Ç—Ä–≤–∞',
   'common': '–à—É–∂–Ω–∞ –è–æ—Ä—ü–∏—ò–∞ –∏ –à—É–∂–Ω–∞ –°–µ–Ω–¥–≤–∏—á–∫–∞ –û—Å—Ç—Ä–≤–∞'},
  'swe': {'official': 'Sydgeorgien', 'common': 'Sydgeorgien'},
  'tur': {'official': 'G√ºney Georgia ve G√ºney Sandwich Adalarƒ±',
   'common': 'G√ºney Georgia ve G√ºney Sandwich Adalarƒ±'},
  'urd': {'official': 'ÿ¨ŸÜŸàÿ®€å ÿ¨ÿßÿ±ÿ¨€åÿß Ÿà ÿ¨ÿ≤ÿßÿ¶ÿ± ÿ¨ŸÜŸàÿ®€å ÿ≥€åŸÜ⁄àŸà⁄Ü',
   'common': 'ÿ¨ŸÜŸàÿ®€å ÿ¨ÿßÿ±ÿ¨€åÿß'},
  'zho': {'official': 'Âçó‰πîÊ≤ª‰∫öÂ≤õÂíåÂçóÊ°ëÂ®ÅÂ•áÁæ§Â≤õ', 'common': 'Âçó‰πîÊ≤ª‰∫ö'}},
 'latlng': [-54.5, -37.0],
 'landlocked': False,
 'area': 3903.0,
 'demonyms': {'eng': {'f': 'South Georgian South Sandwich Islander',
   'm': 'South Georgian South Sandwich Islander'}},
 'flag': 'üá¨üá∏',
 'maps': {'googleMaps': 'https://goo.gl/maps/mJzdaBwKBbm2B81q9',
  'openStreetMaps': 'https://www.openstreetmap.org/relation/1983629'},
 'population': 30,
 'car': {'signs': [''], 'side': 'right'},
 'timezones': ['UTC-02:00'],
 'continents': ['Antarctica'],
 'flags': {'png': 'https://flagcdn.com/w320/gs.png',
  'svg': 'https://flagcdn.com/gs.svg'},
 'coatOfArms': {},
 'startOfWeek': 'monday',
 'capitalInfo': {'latlng': [-54.28, -36.5]}}

In [5]:
table1 = pd.DataFrame([{
    "Nome Comum": country["name"]["common"],
    "Nome Oficial": country["name"]["official"],
    "C√≥digo Alpha-2": country["cca2"],
    "Regi√£o": country["region"],
    "Latitude": country["latlng"][0] if country["latlng"] else None,
    "Longitude": country["latlng"][1] if country["latlng"] else None,
    "Capital": country["capital"][0] if country.get("capital") else None
} for country in data])
table1

,Nome Comum,Nome Oficial,C√≥digo Alpha-2,Regi√£o,Latitude,Longitude,Capital
0,South Georgia,South Georgia and the South Sandwich Islands,GS,Antarctic,-54.500000,-37.000000,King Edward Point
1,Grenada,Grenada,GD,Americas,12.116667,-61.666667,St. George's
2,Switzerland,Swiss Confederation,CH,Europe,47.000000,8.000000,Bern
3,Sierra Leone,Republic of Sierra Leone,SL,Africa,8.500000,-11.500000,Freetown
4,Hungary,Hungary,HU,Europe,47.000000,20.000000,Budapest
...,...,...,...,...,...,...,...
245,Belgium,Kingdom of Belgium,BE,Europe,50.833333,4.000000,Brussels
246,Israel,State of Israel,IL,Asia,31.470000,35.130000,Jerusalem
247,New Zealand,New Zealand,NZ,Oceania,-41.000000,174.000000,Wellington
248,Nicaragua,Republic of Nicaragua,NI,Americas,13.000000,-85.000000,Managua
249,Anguilla,Anguilla,AI,Americas,18.250000,-63.166667,The Valley

In [6]:
table2 = pd.DataFrame([{
    "Nome Comum": country["name"]["common"],
    "Popula√ß√£o": country["population"],
    "√Årea": country["area"],
    "Continente": country["continents"][0],
    "Pa√≠s sem litoral": country["landlocked"]
} for country in data])
table2

        Nome Comum  Popula√ß√£o      √Årea     Continente  Pa√≠s sem litoral
0    South Georgia         30    3903.0     Antarctica             False
1          Grenada     112519     344.0  North America             False
2      Switzerland    8654622   41284.0         Europe              True
3     Sierra Leone    7976985   71740.0         Africa             False
4          Hungary    9749763   93028.0         Europe              True
..             ...        ...       ...            ...               ...
245        Belgium   11555997   30528.0         Europe             False
246         Israel    9216900   20770.0           Asia             False
247    New Zealand    5084300  270467.0        Oceania             False
248      Nicaragua    6624554  130373.0  North America             False
249       Anguilla      13452      91.0  North America             False

[250 rows x 5 columns]

In [15]:
table3 = pd.DataFrame([{
    "Nome Comum": country["name"]["common"],
    "Independente": country.get("independent"),
    "Membro da ONU": country.get("unMember"),
    "Status": country.get("status")
} for country in data])
table3

        Nome Comum Independente  Membro da ONU               Status
0    South Georgia        False          False  officially-assigned
1          Grenada         True           True  officially-assigned
2      Switzerland         True           True  officially-assigned
3     Sierra Leone         True           True  officially-assigned
4          Hungary         True           True  officially-assigned
..             ...          ...            ...                  ...
245        Belgium         True           True  officially-assigned
246         Israel         True           True  officially-assigned
247    New Zealand         True           True  officially-assigned
248      Nicaragua         True           True  officially-assigned
249       Anguilla        False          False  officially-assigned

[250 rows x 4 columns]

In [16]:
def alerta(func, *args, **kwargs):
   
    try:
        func(*args, **kwargs)
        return 200
    except Exception as e:
        print(f"Erro encontrado: {e}")
        return None